In [1]:
import pandas as pd

In [2]:
data = {
    "account_id": [1001, 1001, 1002, 1003, 1002, 1001, 1003, 1004, 1004],
    "transaction_date": [
        "2026-01-10", "2026-01-10", "2026-01-10",
        "2026-01-11", "2026-01-11", "2026-01-11",
        "2026-01-12", "2026-01-12", "2026-01-12"
    ],
    "amount": [5000, -2000, 15000, 3000, 22000, -1000, 40000, 800, 60000],
    "transaction_type": [
        "credit", "debit", "credit",
        "credit", "credit", "debit",
        "credit", "debit", "credit"
    ]
}

In [3]:
df = pd.DataFrame(data)
df["transaction_date"] = pd.to_datetime(df["transaction_date"])

In [4]:
daily_totals = (
    df.groupby(["account_id", "transaction_date"])["amount"]
      .sum()
      .reset_index()
)

daily_totals

   account_id transaction_date  amount
0        1001       2026-01-10    3000
1        1001       2026-01-11   -1000
2        1002       2026-01-10   15000
3        1002       2026-01-11   22000
4        1003       2026-01-11    3000
5        1003       2026-01-12   40000
6        1004       2026-01-12   60800

In [5]:
account_volume = (
    df.groupby("account_id")["amount"]
      .sum()
      .sort_values(ascending=False)
)

account_volume

account_id
1004    60800
1003    43000
1002    37000
1001     2000
Name: amount, dtype: int64

In [6]:
threshold = account_volume.quantile(0.90)
high_volume_accounts = account_volume[account_volume > threshold]

high_volume_accounts

account_id
1004    60800
Name: amount, dtype: int64

In [7]:
mean_amt = df["amount"].mean()
std_amt = df["amount"].std()

fraud_threshold = mean_amt + 3 * std_amt

potential_fraud = df[df["amount"] > fraud_threshold]
potential_fraud

Empty DataFrame
Columns: [account_id, transaction_date, amount, transaction_type]
Index: []