In [ ]:
import pandas as pd

In [ ]:
values = {
    'emp_id': [
        1, 1, 1, 1,
        2, 2, 2, 2,
        3, 3, 3, 3,
        4, 4, 4, 4,
        5, 5, 5, 5
    ],
    
    'department': [
        'HR', 'HR', 'HR', 'HR',
        'System Engineer', 'System Engineer', 'System Engineer', 'System Engineer',
        'Data Engineer', 'Data Engineer', 'Data Engineer', 'Data Engineer',
        'Quality Engineer', 'Quality Engineer', 'Quality Engineer', 'Quality Engineer',
        'Developer', 'Developer', 'Developer', 'Developer'
    ],
    'quarter': ['Q1', 'Q2', 'Q3', 'Q4'] * 5,
    'performance_score': [
        3.2, 3.5, 3.8, 4.0,        
        3.6, 3.9, 4.1, 4.3,        
        3.8, 4.0, 4.3, 4.6,        
        3.4, 3.6, 3.7, 3.9,        
        3.9, 4.2, 4.5, 4.8        
    ]
}

In [3]:
data = pd.DataFrame(values)

In [4]:
data

    emp_id        department quarter  performance_score
0        1                HR      Q1                3.2
1        1                HR      Q2                3.5
2        1                HR      Q3                3.8
3        1                HR      Q4                4.0
4        2   System Engineer      Q1                3.6
5        2   System Engineer      Q2                3.9
6        2   System Engineer      Q3                4.1
7        2   System Engineer      Q4                4.3
8        3     Data Engineer      Q1                3.8
9        3     Data Engineer      Q2                4.0
10       3     Data Engineer      Q3                4.3
11       3     Data Engineer      Q4                4.6
12       4  Quality Engineer      Q1                3.4
13       4  Quality Engineer      Q2                3.6
14       4  Quality Engineer      Q3                3.7
15       4  Quality Engineer      Q4                3.9
16       5         Developer      Q1                3.9
17       5         Developer      Q2                4.2
18       5         Developer      Q3                4.5
19       5         Developer      Q4                4.8

In [10]:
group_dept =  data.groupby('department')

In [11]:
print(group_dept)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000017AE17E1A90>

In [12]:
dept_quarter_avg = (data.groupby(['department', 'quarter'])['performance_score'].mean().reset_index())

In [13]:
dept_quarter_avg

          department quarter  performance_score
0      Data Engineer      Q1                3.8
1      Data Engineer      Q2                4.0
2      Data Engineer      Q3                4.3
3      Data Engineer      Q4                4.6
4          Developer      Q1                3.9
5          Developer      Q2                4.2
6          Developer      Q3                4.5
7          Developer      Q4                4.8
8                 HR      Q1                3.2
9                 HR      Q2                3.5
10                HR      Q3                3.8
11                HR      Q4                4.0
12  Quality Engineer      Q1                3.4
13  Quality Engineer      Q2                3.6
14  Quality Engineer      Q3                3.7
15  Quality Engineer      Q4                3.9
16   System Engineer      Q1                3.6
17   System Engineer      Q2                3.9
18   System Engineer      Q3                4.1
19   System Engineer      Q4                4.3

In [14]:
improving_departments = []

for dept, data in dept_quarter_avg.groupby('department'):
    data_sorted = data.sort_values('quarter')
    scores = data_sorted['performance_score'].values
    
    if all(scores[i] < scores[i + 1] for i in range(len(scores) - 1)):
        improving_departments.append(dept)

In [15]:
dept_quarter_avg

          department quarter  performance_score
0      Data Engineer      Q1                3.8
1      Data Engineer      Q2                4.0
2      Data Engineer      Q3                4.3
3      Data Engineer      Q4                4.6
4          Developer      Q1                3.9
5          Developer      Q2                4.2
6          Developer      Q3                4.5
7          Developer      Q4                4.8
8                 HR      Q1                3.2
9                 HR      Q2                3.5
10                HR      Q3                3.8
11                HR      Q4                4.0
12  Quality Engineer      Q1                3.4
13  Quality Engineer      Q2                3.6
14  Quality Engineer      Q3                3.7
15  Quality Engineer      Q4                3.9
16   System Engineer      Q1                3.6
17   System Engineer      Q2                3.9
18   System Engineer      Q3                4.1
19   System Engineer      Q4                4.3

In [16]:
improving_departments

['Data Engineer', 'Developer', 'HR', 'Quality Engineer', 'System Engineer']