In [3]:
import pandas as pd

In [4]:
data = {
    "patient_id": [201, 202, 203, 201, 202, 203, 204, 204],
    "timestamp": [
        "2026-01-15 08:00", "2026-01-15 08:00", "2026-01-15 08:00",
        "2026-01-15 12:00", "2026-01-15 12:00", "2026-01-15 12:00",
        "2026-01-15 08:00", "2026-01-15 12:00"
    ],
    "heart_rate": [78, 82, 90, 110, 85, 140, 75, 130],
    "ward": ["General", "General", "ICU", "General", "General", "ICU", "ICU", "ICU"]
}

In [5]:
df = pd.DataFrame(data)
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [6]:
avg_hr_per_ward = (
    df.groupby("ward")["heart_rate"]
      .mean()
)

avg_hr_per_ward

ward
General     88.75
ICU        108.75
Name: heart_rate, dtype: float64

In [7]:
df = df.sort_values(["patient_id", "timestamp"])

df["hr_change"] = (
    df.groupby("patient_id")["heart_rate"]
      .diff()
)

sudden_spikes = df[df["hr_change"] > 30]
sudden_spikes

   patient_id           timestamp  heart_rate     ward  hr_change
3         201 2026-01-15 12:00:00         110  General       32.0
5         203 2026-01-15 12:00:00         140      ICU       50.0
7         204 2026-01-15 12:00:00         130      ICU       55.0

In [8]:
critical_cases = df[df["heart_rate"] > 120]
critical_cases

   patient_id           timestamp  heart_rate ward  hr_change
5         203 2026-01-15 12:00:00         140  ICU       50.0
7         204 2026-01-15 12:00:00         130  ICU       55.0

In [10]:
icu_critical = df[
    (df["ward"] == "ICU") & (df["heart_rate"] > 120)
]
icu_critical

   patient_id           timestamp  heart_rate ward  hr_change
5         203 2026-01-15 12:00:00         140  ICU       50.0
7         204 2026-01-15 12:00:00         130  ICU       55.0