In [1]:
import pandas as pd

In [2]:
data = {
    "student_id": [101, 102, 103, 101, 104, 102, 105],
    "course_id": ["C1", "C1", "C2", "C2", "C3", "C3", "C1"],
    "login_date": [
        "2026-01-10", "2026-01-12", "2026-01-05",
        "2026-01-14", "2026-01-03", "2026-01-15",
        "2026-01-01"],
    "minutes_spent": [30, 45, 60, 40, 20, 50, 25]
}

In [10]:
s = pd.DataFrame(data)
s['login_date'] = pd.to_datetime(s['login_date'])
s

   student_id course_id login_date  minutes_spent
0         101        C1 2026-01-10             30
1         102        C1 2026-01-12             45
2         103        C2 2026-01-05             60
3         101        C2 2026-01-14             40
4         104        C3 2026-01-03             20
5         102        C3 2026-01-15             50
6         105        C1 2026-01-01             25

In [12]:
latest_date = s["login_date"].max()
cutoff_date = latest_date - pd.Timedelta(days=7)

inactive_students = (
    s.groupby("student_id")["login_date"]
      .max()
      .loc[lambda x: x < cutoff_date]
      .index
)

print(inactive_students)

Index([103, 104, 105], dtype='int64', name='student_id')

In [13]:
avg = (s.groupby('course_id')['minutes_spent'].mean())
avg

course_id
C1    33.333333
C2    50.000000
C3    35.000000
Name: minutes_spent, dtype: float64

In [16]:
top_course = (s.groupby('course_id')['minutes_spent'].sum().sort_values(ascending=False).head(3))
top_course

course_id
C1    100
C2    100
C3     70
Name: minutes_spent, dtype: int64