In [1]:
import pandas as pd

In [ ]:
values = {
    "order_id": [1, 2, 3, 4, 5, 6],
    "customer_id": [101, 102, 101, 103, 104, 102],
    "order_date": ["2024-01-10", "2024-01-15", "2024-02-05","2024-02-20", "2024-03-10", "2024-03-15"],
    "order_amount": [250, 400, 300, 500, 450, 350]
}

In [ ]:
data = pd.DataFrame(values)

In [13]:
data

   order_id  customer_id  order_date  order_amount
0         1          101  2024-01-10           250
1         2          102  2024-01-15           400
2         3          101  2024-02-05           300
3         4          103  2024-02-20           500
4         5          104  2024-03-10           450
5         6          102  2024-03-15           350

In [14]:
data['order_date'] = pd.to_datetime(data["order_date"])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      6 non-null      int64
 1   customer_id   6 non-null      int64
 2   order_date    6 non-null      datetime64[ns]
 3   order_amount  6 non-null      int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 324.0 bytes

In [16]:
month_revenue = (data.groupby(data["order_date"].dt.to_period("M"))["order_amount"].sum())

In [17]:
month_revenue

order_date
2024-01    650
2024-02    800
2024-03    800
Freq: M, Name: order_amount, dtype: int64

In [18]:
month_Customers = (data.groupby(data["order_date"].dt.to_period("M"))["customer_id"].nunique())

In [19]:
month_Customers

order_date
2024-01    2
2024-02    2
2024-03    2
Freq: M, Name: customer_id, dtype: int64

In [21]:
top_month = month_Customers.idxmax()

In [23]:
top_month

Period('2024-01', 'M')

In [24]:
month_revenue

order_date
2024-01    650
2024-02    800
2024-03    800
Freq: M, Name: order_amount, dtype: int64

In [25]:
month_Customers

order_date
2024-01    2
2024-02    2
2024-03    2
Freq: M, Name: customer_id, dtype: int64

In [26]:
top_month

Period('2024-01', 'M')