In [1]:
import pandas as pd

In [2]:
data = {
    "date": [
        "2026-01-01", "2026-01-02", "2026-01-03",
        "2026-01-04", "2026-01-05", "2026-01-06"
    ],
    "city": [
        "Chennai", "Chennai", "Chennai",
        "Bangalore", "Bangalore", "Bangalore"
    ],
    "temperature": [30, 32, 31, 25, 26, 27],
    "humidity": [70, 72, 71, 65, 67, 70]
}

In [3]:
s=pd.DataFrame(data)

In [4]:
s

         date       city  temperature  humidity
0  2026-01-01    Chennai           30        70
1  2026-01-02    Chennai           32        72
2  2026-01-03    Chennai           31        71
3  2026-01-04  Bangalore           25        65
4  2026-01-05  Bangalore           26        67
5  2026-01-06  Bangalore           27        70

In [14]:
s["date"] = pd.to_datetime(s["date"])

In [15]:
chennai = s[s['city']=='Chennai']

In [16]:
chennai

        date     city  temperature  humidity
0 2026-01-01  Chennai           30        70
1 2026-01-02  Chennai           32        72
2 2026-01-03  Chennai           31        71

In [18]:
chennai['rolling'] = (chennai['temperature'].rolling(window=3).mean())

C:\Users\dhira\AppData\Local\Temp\ipykernel_2720\345004674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chennai['rolling'] = (chennai['temperature'].rolling(window=3).mean())

In [19]:
chennai

        date     city  temperature  humidity  rolling
0 2026-01-01  Chennai           30        70      NaN
1 2026-01-02  Chennai           32        72      NaN
2 2026-01-03  Chennai           31        71     31.0

In [20]:
chennai['humidity_increased'] = chennai['humidity']>chennai['humidity'].shift(1)

C:\Users\dhira\AppData\Local\Temp\ipykernel_2720\1171743157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chennai['humidity_increased'] = chennai['humidity']>chennai['humidity'].shift(1)

In [21]:
chennai

        date     city  temperature  humidity  rolling  humidity_increased
0 2026-01-01  Chennai           30        70      NaN               False
1 2026-01-02  Chennai           32        72      NaN                True
2 2026-01-03  Chennai           31        71     31.0               False